/*designing the body*/
body {
    margin: 0;
    color: white;
    font-family: Arial;
    background: #0a0a0a;
    text-align: center;
}

.hero{
    padding-top: 60px;
    height: 100vh;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

/*BUTTON*/

.btn{
    background: #333;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-bottom: 40px;
}

.main-btn{
    display: inline-block;
    margin-top: 40px;
    font-size: 28px;
    text-decoration: none;
    color: white;
}

/*CAR AREA*/

.cars{
    position: relative;
    width: 900px;
    margin: auto;
    height: 400px;
}

/*CAR IMAGES*/

.car{
    position: absolute;
    width: 300px;
    opacity: 0;
    transform: translateY(80px);
    transition: 1.5s;
}

/*POSITIONS*/

.bmw{
    left: 300px;
    top: 0;
}

.merc{
    left: 0;
    top: 120px;
}

.audi{
    right: 0;
    top: 120px;
}

/*ANIMATION CLASS*/

.show{
    opacity: 1;
    transform: translateY(0);
}

/*Dinaoo di tsena fa ko tlaseeee*/
footer{
    background: black;
    text-align: center;
    padding: 20px;
}





